
@block-title{
  width:100%;position:relative; margin-bottom:40px;
  box-shadow: 0 5px 15px -2px rgba(0, 0, 0, 0.36);
  background:#fff url('images/breadcrumb.jpg') no-repeat;
  min-height: 40px;
  background-size: cover;
  -webkit-background-size: cover;
  &>.container {height:140px; display: table; color:#fff; width: 100%;} 
  .wrap-title { text-align: center; color: #333;    display: table-cell;    height: 100%; padding-top: 40px;    vertical-align: middle;    width: 100%;}
  h1 { text-transform: uppercase; margin: 0}
  ul.breadcrumb { position: absolute;     top: 0;   left: 0; right: 0;}

}


@breadcrumb {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.79);
  margin: 0;
  padding: 0 15px; line-height: 40px;
  color: #fff;
  z-index: 10;
  li { 
    display: inline-block;
    position: relative;


    &>* { display: inline-block; padding: 0 10px;}
    &:before { 

        content: "";
        left: 0;
        background-color: #fff;
        width: 1px;
        float: left;
        height: 16px;
        margin-top: 12px;

    }
    &:first-child:before{
      width: auto;

        font-family: Fontsaddict;
        font-size: 16px;
        font-style: normal;
           content: "\e822";
        color: #fff;
        background: none;
        margin-top: 1px;
        margin-right: -5px;

    }
  }

}
