// IMAGES
.img-title { 
		max-width: 95%; text-align: center;  
	}
.img-title1 { 
		max-width: 100%; text-align: center;
	}
.img-m{
        max-width: 80%; margin: auto;
}
.img-s{
        max-width: 65%; margin: auto;
}
.img-ss{
        max-width: 45%; margin: auto;
}
// FONT
.font-s{
        margin-top: 20px;
        margin-bottom: 3px;
        font-size: 15px;
        font-family: 'UVN Van bold', san-serif;
        font-weight: bold;
        line-height: 1.35;
        color: #1f56a3;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
}
.font-b-b{
        color: blue;
        font-weight: bold;
}
.strongf{
        font-weight: bold;
}
.emf{
        font-style: italic;
        font-size: 12px;
}
.font-milk{
        font-size: 22px;
        line-height: 27px;
        padding-left: 10%;
        padding-right: 10%;
        text-transform: uppercase;
        padding-top: 28px;
        font-family: 'UVN Van';
        color: #1217AE;
        text-align: center;
}
.font-milk-nc{
        font-size: 22px;
        line-height: 27px;
        padding-left: 10%;
        padding-right: 10%;
        text-transform: uppercase;
        padding-top: 28px;
        font-family: 'UVN Van';
        text-align: center;
}
.font-milk-nu{
        font-size: 22px;
        line-height: 27px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 28px;
        font-family: 'UVN Van';
        color: #1217AE;
        text-align: center;
}
