.item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #bababa;
    .item-text {
        .item-title {
            text-transform: uppercase;
        }
        .item-time {
            font-size: 11px;
            font-style: italic;
            color: $color-gray;
        }
        .item-desc {
            color: $color-gray;
        }
    }
}

.pagination {
    text-align: center;
    .page-numbers {
        color: $color-gray;
        &.current {
            color: $color-black;
        }
    }
    .icon-arrow-right, .icon-arrow-left { 
        color: $colorSecondary;
        font-size: 40px;
        position: relative;
        top: 12px;
    }
}

