.banner-img-s{
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
}
.img-title { 
		max-width: 85%; margin-top: 10px; margin-bottom: 10px; margin-left: 40px; margin-right: 40px; text-align: center;  
	}
.background-video{
    position: relative;
    &::after {
    content: "";
    display: block;
    background: url(images/video-wpr.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: -7%;
    right: -7%;
    top: -15.7%;
    bottom: -14.5%;
    z-index: -1;
}
}

