// IMAGES
.img-title { 
		max-width: 95%; text-align: center;  
	}
.img-title1 { 
		max-width: 100%; text-align: center;
	}
.img-m{
        max-width: 80%; margin: auto;
}
.img-s{
        max-width: 65%; margin: auto;
}
.img-ss{
        max-width: 45%; margin: auto;
}
// FONT
.font-s{
        margin-top: 20px;
        margin-bottom: 3px;
        font-size: 15px;
        font-family: 'UVN Van bold', san-serif;
        font-weight: bold;
        line-height: 1.35;
        color: #1f56a3;
        text-transform: uppercase;
        position: relative;
        z-index: 10;
}
.font-b-b{
        color: blue;
        font-weight: bold;
}
.strongf{
        font-weight: bold;
}
.emf{
        font-style: italic;
        font-size: 12px;
}
.font-milk{
        font-size: 22px;
        line-height: 27px;
        padding-left: 10%;
        padding-right: 10%;
        text-transform: uppercase;
        padding-top: 28px;
        font-family: 'UVN Van';
        color: #1217AE;
        text-align: center;
}
.font-milk-nc{
        font-size: 22px;
        line-height: 27px;
        padding-left: 10%;
        padding-right: 10%;
        text-transform: uppercase;
        padding-top: 28px;
        font-family: 'UVN Van';
        text-align: center;
}
.gr{
        color: green;
}
.re{
        color: red;
}
.font-milk-nu{
        font-size: 22px;
        line-height: 27px;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 28px;
        font-family: 'UVN Van';
        color: #1217AE;
        text-align: center;
}
// TABLE-BOX
.icon-s{
        margin: auto;
        text-align: center;
        border-radius: 50%;
        background: #1217AE;
}
.table-color{
        border-bottom: 1px solid blue;
}
.table-color-re{
        border-bottom: 1px solid red;
}
.box-has-shadow1{
        background: -webkit-linear-gradient(#e0dcdc, #fff, #e0dcdc);
        padding: 12px;
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
        box-shadow: 10px 3px 28px rgba(0,0,0,0.14);
}
.color-bl{
        color: blue;
}
 .question-list-s, .clinic-list-content {
    height: 300px;
    overflow: auto;
    &::-webkit-scrollbar-track
    {
        border-radius: 20px;
        background-color: #ddd;
    }

    &::-webkit-scrollbar
    {
        width: 5px;
        background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 20px;
        background-color: $colorPrimary;
        height: 40px;
    }
 }
 .question-list-gr, .clinic-list-content {
    height: 300px;
    overflow: auto;
    &::-webkit-scrollbar-track
    {
        border-radius: 20px;
        background-color: #ddd;
    }

    &::-webkit-scrollbar
    {
        width: 5px;
        background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 20px;
        background-color: green;
        height: 40px;
    }
 }
  .question-list-re, .clinic-list-content {
    height: 300px;
    overflow: auto;
    &::-webkit-scrollbar-track
    {
        border-radius: 20px;
        background-color: #ddd;
    }

    &::-webkit-scrollbar
    {
        width: 5px;
        background-color: #ddd;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 20px;
        background-color:red;
        height: 40px;
    }
 }
 .m-auto{
         margin: auto;
 }
.title-border-gr {
    text-align: center;
    line-height: 1.4;
    span {
        border: 1px solid green;
        border-left: none;
        border-right: none;
        display: inline-block;
            padding: 5px 0;
    }
}
.title-border-re {
    text-align: center;
    line-height: 1.4;
    span {
        border: 1px solid red;
        border-left: none;
        border-right: none;
        display: inline-block;
            padding: 5px 0;
    }
}