.expert {
    .desc {
        padding: 0 20px;
    }
    .expert-slide {
        .item {
            text-align: center;
            .img {
                margin: 0 50px;
            }
            .name {
                font-family: 'UVN Van';
                font-size: 18px;
                color: #1f56a3;
                text-transform: uppercase;
                margin-bottom: 5px;
                letter-spacing: 1px;
                padding: 0 20px;
            }
            .title-detail, .location {
                padding: 0 20px;
            }
        }
    }
}

.share {
    .desc {
        padding: 0 20px;
    }
    .share-slide {
        .item {
            .title {
                font-size: 16px;
                color: $colorPrimary;
                text-transform: uppercase;
                margin-top: 5px;
                margin-bottom: 10px;
            }
            .time {
                font-size: 11px;
                font-style: italic;
                color: $color-gray;
                margin-bottom: 10px;
            }
        }
    }
}

 .clinic-list-content {
    height: 300px;
 }

.clinic-block {
    .clinic-name {
        text-transform: uppercase;
        color: $colorPrimary;
        font-size: 18px;
        position: relative;
        padding-left: 35px;
        &:before {
            content: '\e902';
            font-family: 'Icomoon';
            position: absolute;
            left: 0;
            top: -5px;
            color: $colorSecondary;
            font-size: 25px;
        }
    }
    .clinic-info {
        ul {
            padding-left: 35px;
            li {
                position: relative;
                list-style: none;
                font-size: 18px;
                line-height: 1.6;
                color: #313131;
                font-family: 'Roboto Light';
                &:before {
                    content: '●';
                    color: $colorSecondary;
                    position: absolute;
                    left: -20px;
                    top: 0;
                    font-size: 14px;
                }
            }
        }
    }
}

.clinic-register {
    .clinic-desc {
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.clinic-direction {
    .direction-title {
        clear: both;
        text-align: center;
        font-family: 'UVN Van';
        font-size: 32px;
        color: $colorPrimary;
        text-transform: uppercase;
    }
    .direction-step {
        .step-title {
            font-family: 'UVN Van Bold';
            font-weight: bold;
            font-size: 25px;
            margin-top: 15px;
            color: #0048a4;
        }
        .step-content {
            font-size: 18px;
        }
    }
}

#register-lightbox {
    .lightbox-content {
        padding: 30px 50px;
    }
}

#clinic-search-lightbox {
    .yellow-box {
        border: 1px solid #eecc71;
        border-radius: 0;
        padding: 8px 15px;
        font-size: 18px;
        color: #353535;
        font-family: 'Roboto Light', sans-serif;
    }
    .search-box {
        input {
            border-radius: 0;
            font-size: 18px;
            padding: 8px 15px;
            font-family: 'Roboto Light', sans-serif;
        }
    }
    .clinic-item {
        padding-left: 40px;
        position: relative;
        margin-bottom: 30px;
        line-height: 1.2;
        &::before {
            content: "\e947";
            font-family: 'Icomoon';
            position: absolute;
            top: 0;
            left: 0;
            color: $colorPrimary;
            font-size: 34px;
        }
        .name {
            font-size: 18px;
        }
        .desc {
            font-size: 16px;
            font-family: 'Roboto Light';
        }
    }
}