.news-list, .sale-list {
    -webkit-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.14);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 20px;
}
.news-list {
    .search-box {
        ::-webkit-input-placeholder { 
            font-style: italic;
        }
        ::-moz-placeholder { 
            font-style: italic;
        }
        :-ms-input-placeholder { 
            font-style: italic;
        }
        :-moz-placeholder { 
            font-style: italic;
        }
        &:before {
            color: $colorPrimary;
            font-size: 20px;
        }
    }
    .featured-article {
        border-bottom: 1px dashed $colorSecondary;
        .title {
            font-family: 'UVN Van';
            color: $colorPrimary;
            text-transform: uppercase;
            font-size: 18px;
        }
    }
    .article-list {
        height: 300px;
        overflow: auto;
        &::-webkit-scrollbar-track
        {
            border-radius: 20px;
            background-color: #ddd;
        }

        &::-webkit-scrollbar
        {
            width: 5px;
            background-color: #ddd;
        }

        &::-webkit-scrollbar-thumb
        {
            border-radius: 20px;
            background-color: $colorPrimary;
            height: 40px;
        }
    }
    
}

.news-block {
    .title {
        font-family: 'UVN Van';
        color: $colorPrimary;
        text-transform: uppercase;
        font-size: 16px;
    }
    .time {
        font-size: 11px;
        font-style: italic;
        color: #515151;
    }
    .content {
        font-size: 13px;
    }
}
