
$colorPrimary: #0048a4;
$colorSecondary: #ebc55b;

$color-black : #000;
$color-white : #fff;
$color-gray : #515151;
$color-blue : #1217AE;
$color-red : #dd2521;
$color-green : #468e29;
$color-violet : #A02380;






