
$colorPrimary: #0048a4;
$colorSecondary: #ebc55b;

$color-1 : #000;
$color-2 : #fff;
$color-3 : #f1f2f2;
$color-4 : #f3c317;
$color-5 : #515151;
$color-blue : #1217AE;
$color-red : #dd2521;
$color-green : #468e29;
$color-violet : #A02380;






